body {
  background: #1d1f20;
}

h1 {
  font: bold 100px sans-serif;
  float: right;
  margin-right: 200px;
}

h2 {
  color: rgb(235, 236, 247);
  font: 30px sans-serif;
  right: 180px;
  top: 120px;
  position: absolute;
}

main {
  color: rgb(235, 236, 247);
}

.text-gradient {
  background: linear-gradient(
    to bottom right,
    hsla(50, 100%, 90%, 0.7),
    hsla(200, 100%, 60%, 0.7),
    hsla(320, 100%, 50%, 0.7)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
